.mg-b-15px{
    margin-bottom: 15px;
}

.mg-b-10px{
    margin-bottom: 10px;
}

/* .mg-b-20px{
    margin-bottom: 20px;
}

.mg-l-2x100{
    margin-left: 2%;
}

.mg-r-10px{
    margin-right: 10px;
}

.pd-20px{
    padding: 20px;
}

.pd-10px{
    padding: 10px;
}

.pd-5px{
    padding: 5px;
} */